body {
  background-color: black; }

h1 {
  font-family: monospace;
  color: lime; }

img {
  position: absolute;
  top: 0;
  left: 160;
  width: 100px;
  transform: translate(0, -100%);
  filter: invert(1); }
